.contact{
    margin-top: 0;

    .questionPopup{
        width: 90%;
        left: 50%;
        border-radius: 2rem;
        transform: translateX(-50%);
        padding: 3rem 0;
        position: fixed;
        background: $glr-green;
        top: -10rem;
        transition: 500ms ease-in-out;

        .popup__good{
            color: rgb(14, 14, 14); 
            display: none;          
        }

        //errors hidden
        .error__form--firstname, .error__form--firstname--number, .error__form--lastname--number, .error__form--lastname, .error__form--lastname, .error__form--email, .error__form--phone, .error__form--child, .error__form--child--number{
            display: none;
            color: rgb(255, 255, 255);  
            font-family: $text-font;
            line-height: 1.6;
            font-size: 2rem;  
        }
    }

    .contact__article{
            @include blackContainer(auto,1);
            margin:  0 auto!important;

            .contact__article--heading{
                font-size: 4rem;
                margin-bottom: 0;
            }

            @include setQeury($lg){
                @include blackContainer(80rem,0);
        }

        //mobile grid
        .contact__form{
            width: 95%;
            height: 80%;
            font-size: 2rem;
            margin: 4rem auto 0 auto;
            display: grid;
            grid-template-columns: 5% 1fr 5%;
            grid-template-areas: 
            ". obligated ."
            ". voornaam .  "
            ". inputvoornaam . "
            ". achternaam  ."
            ". inputachternaam ."
            ". email ."
            ". inputemail ."
            ". telefoon ."
            ". inputtelefoon ."
            ". kind ."
            ". inputkind ."
            ". uwBericht . "
            ". textarea ."
            ". button . ";

            //desktop grid
            @include setQeury($md){
                grid-template-columns: 5% 40% 50% 5%;
                grid-gap: 1rem;
                grid-template-areas: 
            ". obligated obligated ."
            ". voornaam inputvoornaam  ."
            ". achternaam inputachternaam  ."
            ". email inputemail ."
            ". telefoon inputtelefoon ."
            ". kind inputkind ."
            ". uwBericht . . "
            ". textarea  textarea ."
            ". button button .";
            }
        }
        
        label{
            text-align: left;
            padding: 1rem 0;

            @include setQeury($md){
                padding: 0;
            }
        }

        input{
            width: 100%;
            height: 3rem;
            margin: 0 0 1rem 0;
        }

        //grid-area items

        .contact__obligated{
            grid-area: obligated;
            color: rgb(255, 20, 20);
            font-size: 1.9rem;
            height: 5rem;

            span{
                color: #f1f1f1;
            }
        }

        .form__input--voornaam{
            grid-area: inputvoornaam;
        }

        .form__label--voornaam{
            grid-area: voornaam;
        }

        .form__input--achternaam{
            grid-area: inputachternaam;
        }

        .form__label--achternaam{
            grid-area: achternaam;
        }

        .form__input--email{
            grid-area: inputemail;
        }

        .form__label--email{
            grid-area: email;
        }

        .form__input--telefoon{
            grid-area: inputtelefoon;
        }

        .form__label--telefoon{
            grid-area: telefoon;
        }

        .form__input--kind{
            grid-area: inputkind;
        }

        .form__label--kind{
            grid-area: kind;
        }

        .form__button--send{
            grid-area: button;
            background: $black-container;
            color: #f1f1f1;
            font-size: $button-text-size;
            height: 5rem;
            border: 2px solid $border-color;
            margin: 2rem auto;

            &:hover{
                background: #111;
                color: #f1f1f1;
            }
        }

        .form__label--bericht{
            grid-area: uwBericht;
        }

        .form_textarea--bericht{
            grid-area: textarea;
            width: 100%;
            height: 21rem;
            font-size: 2rem;
        }

    }
}