.confirmed{

    .confirmed__article{
        @include blackContainer(auto,1);
        padding: 2rem;
        margin-top: 0!important;
        text-align: left;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr auto 20rem 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "heading heading"
            "dateLabel dateInput"
            "timeLabel timeInput"
            "personLabel personInput"
            " messageLabel messageLabel"
            "messageInput messageInput"
            "messageText messageText";

        grid-gap: .5rem;


        @include setQeury($lg){
            @include blackContainer(auto,0);
            padding: 2rem 10rem 6rem 10rem;
        }

        label{
            word-wrap: none;
        }

        input, textarea{
            appearance: none;
            color: transparent;
            text-shadow: 0 0 0 #fff;
            cursor: default;
            border: none;
            margin: 0 0 0 auto;
            width: auto;

            @include setQeury($sm){
                margin: 0 auto 0 0;
            }

            height: 3rem;
            font-size: 2rem;
            background: $black-container;

            :focus{
                outline: none;
            }
        }

        .confirmed__heading{
            grid-area: heading;
            text-align: center;
            margin: 2rem 0 4rem 0;

        }

        .confirmed__date--label{
            grid-area:  dateLabel;
        }

        .confirmed__date--input{
            grid-area: dateInput
        }

        .confirmed__time--label{
            grid-area: timeLabel;
        }

        .confirmed__time--input{
            grid-area: timeInput;
        }

        .confirmed__person--label{
            grid-area: personLabel;
        }

        .confirmed__person--input{
            grid-area: personInput;
        }

        .confirmed__message--label{
            grid-area: messageLabel;
        }

        .confirmed__message--input{
            grid-area: messageInput;
            height: auto;
            padding: 2rem;
            border: 1.5px solid $border-color;
            margin: 0 0 2rem 0;
            width: auto;
        }

        .confirmed__text{
            grid-area: messageText;
            color: $glr-green;
            font-size: 2.2rem;
        }

    }

    
}