#homepage{
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    display: grid;
    //desktop homepage grid: min 20rem max 1fr 
    @include setQeury($lg){
    grid-template: minmax(20rem, 1fr) minmax(20rem, 1fr) minmax(20rem, 1fr) / 1fr 1fr;
    width: 90%;    
    height: 100%;
    margin: 0 auto 34rem auto;
    }


    @include setQeury($lg){
        border: 5px solid $black-container-border;
        box-shadow: 1px 1.5px 6px #000;
    }

    //articles homepage
    article{
        @include blackContainer(100%, 1);
        min-height: 40rem;
        margin: 0 auto 0 auto;
        

        @include setQeury($lg){
            border: 0px;
            box-shadow: none;
        }
        
        div{
            width: 50rem;
            max-width: 90vw;
            text-align: left;
            margin: 0 auto 1.5rem auto;

            p{
                padding: 0 2rem;
            }

        }

        li{
            line-height: 4rem;
            font-family: $text-font;
            font-size: 2rem;
            padding: 1.5rem 2rem;
        }
    }
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//blend images
        #main-image-1, #main-image-2, #main-image-3{
            @include blackContainer(100%, 1);
            margin: 0 auto 0 auto;
            background-color: rgba(9, 231, 9, 0.212);
            background-blend-mode: screen, multiply; 
            min-height: 35rem;


            @include setQeury($lg){
                border: 0px;
                box-shadow: none;
            }

        }

        //background images
        #main-image-1{
            background-image: url(../img/layout-picture.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        #main-image-2{
            @extend #main-image-1;
            background-image: url(../img/layout-picture3.jpg);
            @include setQeury($lg){
                grid-column: 1/2;
                grid-row: 2/3;
            }
        }

        #main-image-3{
            @extend #main-image-1;
            background-image: url(../img/layout-picture4.jpg), url(../img/GLRlogo_RGB.png);
            background-size: cover, calc(15rem + 10vw);
            transform: rotate(0,0,45deg);

            //desktop view
            @include setQeury($lg){
                background-size: cover, 25.5rem;
            }
        }
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//diagram 
        #main-diagram-grid{
            display: grid;
            grid-template-columns: 5% 1fr 1fr 1fr 1fr 5%;
            grid-template-rows: minmax(8rem, 25rem) 35%;
            height: 100%;
            margin: 6rem 0;
            grid-gap: 2rem;

            @include setQeury($md){
                margin: 5rem 0;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            }

            h2{
                grid-column: 1/10;
            }

            

        }

        .main-diagram-1, .main-diagram-2, .main-diagram-3, .main-diagram-4{
            width: 100%;
            background: #f1f1f1;
            border-top-left-radius: 3rem;
            border-top-right-radius: 3rem;
            grid-row: 1/2;
            position: relative;

            //green diagram fill
            section{
                position: absolute;
                background: $glr-green;
                width: 100%;
                display: block;
                z-index: 999;
                bottom: 0;
            }

            #diagram-1{
                height: 20%;
            }

            #diagram-2{
                height: 40%;
            }


            #diagram-3{
                height: 60%;
            }


            #diagram-4{
                height: 80%;
            }

            //diagram procentage
            h3{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateY(-50%);
                transform: translateX(-50%);
                color: black;
                font-size: 2rem;
                z-index: 1000;
            }

            p{
                color: #000;
                z-index: 1000;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                color: $glr-green;
            }

            :nth-child(1){
                top: -3rem;
            }

            :nth-child(4){
                bottom: -3rem;
            }
        }

        .main-diagram-1{
            grid-column: 2/3;
        }

        .main-diagram-2{
            grid-column: 3/4;
        }

        .main-diagram-3{
            grid-column: 4/5;
        }

        .main-diagram-4{
            grid-column: 5/6;
        }

}