.mentorpage{
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    h2{
        font-size: $title-size-big;
    }

    .student__img{
        width: 15rem;
        height: 15rem;
    }
    
    //mobile grid
    .select--student{
        padding: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr auto 1fr 1fr;
        grid-template-areas: 
            ". . title . ."
            ". . foto . ."
            ". . klas . ."
            ". . student . .";
        
        //Desktop grid
        @include setQeury($md){
            padding: 2rem 4rem 4rem 4rem;
            grid-template-areas: 
            ". . title . ."
            ". . foto . ."
            ". klas . student .";
            }

        @include blackContainer(auto, 1);
            margin: 0 auto 0 auto;


        @include setQeury($lg){
            @include blackContainer(auto, 0);
            margin: 0 auto 0 auto;
        }

        .student__heading{
            grid-area: title;
        }

        .student__img__container{
            grid-area: foto;

            img{
                border: .7rem solid transparent;
                outline: 3px solid white;
            }
        }
        
        //options
        .student__container, .class__container{
            width: 20rem;
            height: 5rem;
            background: $black-container;  
            color: #f1f1f1;
            font-size: 2rem;
        }

        .class{
            grid-area: klas;
            margin: 2rem; 

            //margin between vertical options
            @include setQeury($md){
                margin: 0;
            }
        }

        .class__select{
            width: 20rem;
            height: 5rem;
            position: relative;
        }

        .select--option{
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            z-index: 100;   
            font-size: 2rem;
        }

        .student{
            grid-area: student;
        }
    }

 ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
 ////// student info


.studentInfo{
    @include blackContainer(auto,1);
    padding: 0 2rem 6rem 2rem;

    @include setQeury($lg){
        @include blackContainer(auto,0);
    }

    .studentInfo__section{
        text-align: left;
        line-height: 1.5;
        margin: 2rem;

        .studentInfo__label{
            color: $glr-green;
        }

        .studentInfo__text{
            line-height: 1.5;
            font-size: 2rem;
        }
        
        .studentIno__button{
            display: block;
            width: 100%;
            height: 4rem;
            margin: 2rem 0 0 0;
            background: $black-container;
            font-size: 2rem;
            border: 2px solid $border-color;
            box-shadow: 1px 1.5px 6px #111;
            color: #fff;
            font-weight: 900;

            @include setQeury($sm){
                width: 35rem;
            }

            &:hover{
                background: rgb(19, 19, 19);
            }
        }
        
        #mentor-notities{
            width: 100%;
            height: 15rem;
            max-width: 80rem;
            line-height: 2;
            font-size: 2rem;
        }

        .studentInfo__button--send{
            width: 100%;
            height: 4rem;
            margin: 2rem auto 0 auto;
            background: $black-container;
            font-size: 2rem;
            border: 2px solid $border-color;
            box-shadow: 1px 1.5px 6px #111;
            color: #fff;
            font-weight: 900;

            &:hover{
                background: rgb(19, 19, 19);
            }
        }
    }
}
}