.homepage{
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    display: grid;
    //desktop homepage grid: min 20rem max 1fr 
    @include setQeury($xlg){
    grid-template: auto auto auto / 1fr 1fr;
    width: 90%;    
    max-width: 160rem;
    margin: 0 auto 34rem auto;
    }


    @include setQeury($xlg){
        border: 5px solid $black-container-border;
        box-shadow: 1px 1.5px 6px #000;
    }

    //articles homepage
    .article{
        @include blackContainer(100%, 1);
        min-height: 40rem;
        margin: 0 auto 0 auto;
        position: relative;
        
        @include setQeury($xlg){
            border: 0px;
            box-shadow: none;
        }
    }

    .CMS__paragraaf{
        font-size: 3rem;
        padding: 1rem 2rem;
        cursor: pointer;
        background: #1C1C1C;
        color: #f1f1f1;
        border: 3px solid $black-container-border;
        box-shadow: 1px 1.5px 6px #000; 
        position: absolute;
        bottom: 1rem;
        left: 1rem;
    }

    //Algemene information
    .information__container{
        width: 60rem;
        max-width: 90vw;
        text-align: left;
        margin: 0 auto 1.5rem auto;

        .information__container--text{
            padding: 0  2rem 2rem 2rem;
            font-size: 1.8rem;
            line-height: 1.7;
            opacity: 0;
            transform: translateY(4rem);
            transition: 500ms all ease-in-out;
        }

        //class envoked when page load
        .appear{
            opacity: 1;
            transform: translateY(0rem);

        }
    }

    //How to register
    .register{

        //begin state 
        .register__list{
            opacity: 0;
            transform: translateY(4rem);
            transition: 500ms all ease-in-out;
        }

        //class envoked when scrolling over it
        .appear{
            opacity: 1;
            transform: translateY(0rem);
        }

        grid-row: 3/4;
        .register__list__item{
            line-height: 4rem;
            font-family: $special-font;
            font-size: 2rem;
            padding: 1.5rem 2rem;
        }
    }

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//blend images
        .article__image--1, .article__image--2, .article__image--3{
            @include blackContainer(100%, 1);
            margin: 0 auto 0 auto;
            background-color: rgba(9, 231, 9, 0.212);
            background-blend-mode: screen, multiply; 
            min-height: 35rem;
            position: relative;


            .CMS__img{
                position: absolute;
                left: 1rem;
                bottom: 1rem;
                font-size: 3rem;
                padding: 1rem 2rem;
                cursor: pointer;
                background: #1C1C1C;
                color: #f1f1f1;
                border: 3px solid $black-container-border;
                box-shadow: 1px 1.5px 6px #000;

                &:hover{
                    background: #111;
                }
            }


            @include setQeury($lg){
                border: 0px;
                box-shadow: none;
            }

        }

        //background images
        .article__image--1{
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .article__image--2{
            @extend .article__image--1;
            @include setQeury($lg){
                grid-column: 1/2;
                grid-row: 2/3;
            }
        }

        .article__image--3{
            @extend .article__image--1;
            background-image: url(../img/layout-picture4.jpg), url(../img/GLRlogo_RGB.png);
            background-size: cover, calc(15rem + 10vw);
            transform: rotate(0,0,45deg);

            //desktop view
            @include setQeury($lg){
                background-size: cover, 25.5rem;
            }
        }

        
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//diagram 
        .diagram__grid{
            display: grid;
            grid-template-columns: 5% 1fr 1fr 1fr 1fr 5%;
            grid-template-rows: minmax(8rem, 25rem) 35%;
            height: 100%;
            margin: 6rem 0;
            grid-gap: 2rem;

            @include setQeury($md){
                margin: 5rem 0;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            }

            .diagram__heading{
                grid-column: 1/10;
            }
        }

        .diagram__grid__item--1, .diagram__grid__item--2, .diagram__grid__item--3, .diagram__grid__item--4{
            width: 100%;
            background: #f1f1f1;
            border-top-left-radius: 3rem;
            border-top-right-radius: 3rem;
            grid-row: 1/2;
            position: relative;

            //green diagram fill
            section{
                position: absolute;
                background: $glr-green;
                width: 100%;
                display: block;
                z-index: 999;
                bottom: 0;
            }

            .diagram-height{
                height: 0%;
                transition: height 1500ms cubic-bezier(0, 0, 0.43, 1.27);
            }

            //diagram procentage
            h3{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateY(-50%);
                transform: translateX(-50%);
                color: black;
                font-size: 2rem;
                z-index: 999;
            }

            p{
                color: #000;
                z-index: 1000;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                color: $glr-green;
                z-index: 999!important;
            }

            .diagram--time{
                top: -3rem;
            }

            .diagram--fill{
                bottom: -3rem;
                z-index: 999!important;
            }
        }

        .diagram__grid__item--1{
            grid-column: 2/3;
        }

        .diagram__grid__item--2{
            grid-column: 3/4;
        }

        .diagram__grid__item--3{
            grid-column: 4/5;
        }

        .diagram__grid__item--4{
            grid-column: 5/6;
        }
}