/////////////////////////////////////////////////////////////////////////////////
//////// planning student 

#planningStudent{
    position: relative;
    @include blackContainer(auto,1);
    margin: 0 auto!important;
    padding: 0 2rem 6rem 2rem;

    @include setQeury($lg){
        @include blackContainer(auto,0);
    }
    
    h2{
        margin: 2rem 0 4rem 0;
    }

    #planningGrid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 10rem 10rem 10rem 10rem 10rem 10rem 10rem 10rem;
        
        @include setQeury($md){        
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 10rem 10rem 10rem 10rem;
        }

        width: 100%;
        height: auto;
        grid-gap: 1rem;

        .planning__input--radio{
            display: none;
        }

        //label
        .planning__input--label{
            @include blackContainer(5rem,0);
            align-self: center;
            box-sizing: border-box;
            margin: 0;
            padding: 4rem 1rem;
            height: auto;
            border: 0px;
            background: #111;
            border: 1px solid $border-color;
            font-size: 1rem;
            cursor: pointer;

            @include setQeury($md){
                font-size: 1.5rem;
            }

            &:hover{
                background: rgba(0, 0, 0, 0.815);
            }
        }
        
    
    //styles for a checked radio button
    #radio--1:checked ~ label[for="radio--1"],
    #radio--2:checked ~ label[for="radio--2"],
    #radio--3:checked ~ label[for="radio--3"],
    #radio--4:checked ~ label[for="radio--4"],
    #radio--5:checked ~ label[for="radio--5"],
    #radio--6:checked ~ label[for="radio--6"],
    #radio--7:checked ~ label[for="radio--7"],
    #radio--8:checked ~ label[for="radio--8"],
    #radio--9:checked ~ label[for="radio--9"],
    #radio--10:checked ~ label[for="radio--10"],
    #radio--11:checked ~ label[for="radio--11"],
    #radio--12:checked ~ label[for="radio--12"],
    #radio--13:checked ~ label[for="radio--13"],
    #radio--14:checked ~ label[for="radio--14"],
    #radio--15:checked ~ label[for="radio--15"],
    #radio--16:checked ~ label[for="radio--16"]{
        background: $glr-green;
        color: #111;
    }        
        
    }


    //info about color from tijdschema
    #planningInfo{
        @include blackContainer(10rem, 0);  
        width: 20rem;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -5rem; 

        p{
            display: inline-block;
            padding: 0 3rem;
        }

        :nth-child(1)::before{
            content: '';
            margin: 2rem 25% 1rem 25%;
            transform: translateX(-25%);
            display: block;
            height: 3rem;
            width: 3rem;
            background: #111111;
        }


        :nth-child(2)::before{
            content: '';
            margin: 2rem 75% 1rem 75%;            
            transform: translateX(-75%);
            display: block;
            height: 3rem;
            width: 3rem;
            background: $glr-green;
        }
    }
  }

////////////////////////////////////////////////////////////////////////////////////////////////////////
///appointment info

.appointment__info{
    @include blackContainer(auto,1);
    padding: 0 2rem 6rem 2rem;


    @include setQeury($md){
        @include blackContainer(auto,0);
    }

    .appointment__notities{
        width: 100%;
        height: 25rem;
        max-width: 80rem;
        font-size: 2rem;
        background: #f1f1f1;
    }

    .appointment__question{
        width: 100%;
        height: 15rem;
        max-width: 80rem;
        font-size: 2rem;
        color: #f1f1f1;
        border: 1px solid $border-color;
        margin: 1rem 0 0 0;
        background: $black-container;
        box-shadow: 1px 1.5px 6px #111;
    }

    .appointment__text{
        font-size: 2.2rem;
        text-align: left;
        margin: 3rem 0 0 0;
    }

    h2{
        margin-bottom: 4rem;
    }
}