.timetable{
    
    h2{
        font-size: $title-size-big;
    }
/////////////////////////////////////////////////////////////////////////////////////////////////////////
///////choose a time

    .day-choosing{
        //mobile
        @include blackContainer(auto,1);
        padding: 0 2rem 4rem 2rem;
        margin: 0 auto 0 auto!important;
        position: relative;

        //desktop
        @include setQeury($lg){
            @include blackContainer(auto, 0);  
        }

        //hidde checkbox
        .day-choosing__checkbox{
            display: none;
        }

        //remove the standard radio buttons
        .checkbox__label{
            background: $black-container;
            display: inline-block;
            height: auto;
            padding: 6.1rem 0;
            width: 20rem;
            margin: 4rem;
            text-align: center;
            color: #f1f1f1;
            box-shadow: 1px 1.5px 6px black;
            cursor: pointer;
            border: 3px solid $black-container-border; 

            &:hover{
                background: #111;
            }
        }

        .day__text{
            font-size: $normal-text-size;
            line-height: 1.2;
        }
    }
    

/////////////////////////////////////////////////////////////////////////////////////////////////////////
///////timetable

    .timetable{
        @include blackContainer(auto,1);
        padding: 1rem 4rem 8rem 4rem;
        position: relative;

        @include setQeury($lg){
            @include blackContainer(auto, 0);  
        }

        //hidde radio buttons
        .timetable__radio{
            display: none;
        }

        //create custom radio buttons with labels        
        .radio__label{
            display: block;
            background: $black-container;
            width: calc(100% - 2rem);
            height: auto;
            padding: 3rem 0;
            margin: 1rem;
            text-align: center;
            color: #f1f1f1;
            box-shadow: 1px 1.5px 6px black;
            cursor: pointer;
            border: 3px solid $black-container-border; 

            &:hover{
                background: #111;
            }
        }

        //styles for a checked radio button
        #time--0:checked ~ label[for="time--0"],
        #time--1:checked ~ label[for="time--1"],
        #time--2:checked ~ label[for="time--2"],
        #time--3:checked ~ label[for="time--3"]{
            background: $glr-green;
            color: #111;
        }

    }

/////////////////////////////////////////////////////////////
//////guidance information       

        .timetable-guidance{
            @include blackContainer(10rem, 0);  
            width: 30rem;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -5rem; 
            
            .guidance__container{
                display: grid;
                height: 100%;
                grid-template: 1fr/ 1fr 1fr 1fr;
            

            p{
                display: inline-block;
                padding: 1rem;
            }

            .guidance--free::before{
                content: '';
                margin: 1rem 25%;
                transform: translateX(25%);
                display: block;
                height: 3rem;
                width: 3rem;
                background: green;
            }

            .guidance--almost::before{
                @extend .guidance--free::before;
                background: orangered;
            }

            .guidance--full::before{
                @extend .guidance--free::before;                
                background: rgb(61, 61, 61);
            }
        }
    }


/////////////////////////////////////////////////////////////////////////////////////////////////////////
///////number of person

    .persons{
        //height mobile
        @include blackContainer(auto,1);
        margin: 10rem auto 0 auto;
        padding: .5rem;

        //height rest
        @include setQeury($lg){
            @include blackContainer(auto, 0);  
        }

        //info text
        .persons--info{
            padding: 2rem;
            word-wrap: none;

            @include setQeury($sm){
                font-size: $normal-text-size;
            }
        }

        //remove the standard radio buttons
        .persons__radio{
            display: none;
        }

        //create custom radio buttons with labels
        .checkbox__label{
            background: $black-container;
            display: inline-block;
            width: 15rem;
            height: auto;
            padding: 6.1rem 0;
            margin: 1rem;
            text-align: center;
            color: #f1f1f1;
            box-shadow: 1px 1.5px 6px black;
            cursor: pointer;
            border: 3px solid $black-container-border; 

            &:hover{
                background: #111;
            }
        }

        //styles for a checked radio button
        #person--1:checked ~ label[for="person--1"],
        #person--2:checked ~ label[for="person--2"],
        #person--3:checked ~ label[for="person--3"]{
            background: $glr-green;
            color: #111;
        }
    }
        
/////////////////////////////////////////////////////////////////////////////////////////////////////////
///////question popup

.popup{
    height: auto;
    padding: 0 2rem 3rem 2rem;
    width: 90%;
    max-width: 80rem;
    position: fixed;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    background: $glr-green;
    border-radius: 1rem;
    z-index: 1000;


    @include setQeury($md){
        width: 100%;
    }


    .popup__text{
        font-size: calc(2.2rem - .5rem);
        font-family: $title-font;
        color: black;

        @include setQeury($sm){
            font-size: calc(2.2rem - .2rem);
        }

        @include setQeury($md){
            font-size: $normal-text-size;            
        }
    }

    :nth-child(1){
        padding: 1.3rem 0;       

        @include setQeury($sm){
            padding: 1.5rem 0;
        }
        
        @include setQeury($md){
            padding: 2rem 0;
        }
    }

    
}


/////////////////////////////////////////////////////////////////////////////////////////////////////////
///////ask question
    
    .question{
        @include blackContainer(45rem,1);

        @include setQeury($lg){
            @include blackContainer(45rem, 0);  
        }

        .question__textarea{
            height: 20rem;
            width: 35rem;

            @include setQeury($md){
                width: 50rem;
                height: 22rem;
            }
        }

        .question__button--send{
            width: 35rem;
            height: 4rem;
            margin: 2rem auto 0 auto;
            background: $black-container;
            font-size: 2rem;
            border: 2px solid $border-color;
            box-shadow: 1px 1.5px 6px #111;
            color: #fff;
            font-weight: 900;

            &:hover{
                background: rgb(19, 19, 19);
            }

            @include setQeury($sm){
                width: 35rem;
                height: 4.5rem;
            }
            
            @include setQeury($md){
                width: 50rem;
            }
        }
    }
//end
}