@import url('https://fonts.googleapis.com/css?family=Montserrat|Nunito+Sans');
@import url('https://fonts.googleapis.com/css?family=Merienda');

// Here we set all typography styles

// All titles have a montserrat font family 
$title-font: 'Montserrat', sans-serif;

// title font-sizes
$title-size: calc(2.8rem + 1vw);
$title-size-big: calc(4rem);
$title-size-4k: calc(4rem + 1vw);
$subtitle-size: 2.5rem;
$paragraf-size: 1.6rem;

$login-size: calc(2.6rem + .5vw);

// All regular text have a Nunito Sans font family
$text-font: 'Nunito Sans', sans-serif;

// text font-sizes
$button-text-size: 3.2rem;
$navigation-mobile-size: 4rem;
$navigation-desktop-size: 2.8rem;
$normal-text-size: 2.2rem;
$footer-text: calc(15rem * 1vw);

$special-font: 'Merienda', cursive;

