// standard font = 10 pixels. 1 Rem is gelijk aan de root font-size
:root{
    font-size: 10px
}

*{
    text-decoration: none;
    list-style-type: none;
}

body{
    background: $body-background;
    color: $standard-color;
    max-width: 100vw;
}

// setting al images to max 100vw. to prevent images to go outside the screen
img{
    max-width: 100vw;
}