//same styles for al h2 titles
h2{
    font-size: $subtitle-size;
    font-family: $title-font;
    margin: 2rem auto 1.5rem auto;

    @include underline(30rem, .3rem, $glr-green);
}

//styles for all p 
p{
    font-family: $text-font;
    font-size: $paragraf-size;
    line-height: 1.9rem;
}


//bottom margin for the main
main{
    margin:  0 0 64rem 0;

    @include setQeury($sm){
        margin:  0 0 50rem 0;
        
    }
    @include setQeury($md){
        margin:  0 0 36rem 0;
    }
}