// basic 3 row grid for: header, mian and footer
// header = 320 px, footer = 540px
body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 32rem 1fr 54rem;

    >header{
        grid-column: 1/2;
        grid-row: 1/2;
    }

    >main{
        grid-column: 1/2;
        grid-row: 2/3;
    }

    >footer{
        grid-column: 1/2;
        grid-row: 3/4;
    }
}