//////////////////////////////////////////////////////////////
//toggle overflow for mobile

.overflow{
    overflow: hidden!important;
}

//////////////////////////////////////////////////////////////
// placeholder for navbar swichts

.toggleOn{
    top: 0!important;
    position: absolute!important;
    height: 100vh!important;
    width: 100vw!important;
    background: $glr-green!important;
    z-index: 1000!important;
    overflow: hidden!important;
    display: block!important;
}

//////////////////////////////////////////////////////////////
// selectedLink

.selectedLinkActive{
    opacity: 1;

    @include setQeury($lg){
        color: $glr-green;
        font-size: 3rem;
    }    
}

///////////////////////////////////////////////////////////////////
// timeschedule select time/persons/day

.selectedBox{
    background: $glr-green!important;
    color: rgb(19, 19, 19) !important;
    font-weight: 900;
}

