.header{
    position: relative;
    height: 50rem;

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// hamburger menu 
    
    // background 
    .header__icon--hamburger{
        width: 50px;
        height: 50px;
        position: relative;
        cursor: pointer;

        // turns hamburger menu off for desktops view
        @include setQeury($lg){
            display: none;
        }
        
    // white bars
        .icon__hamburger--bars,
        .icon__hamburger--bars:before,
        .icon__hamburger--bars:after{
            content: '';
            display: block;
            background: #f1f1f1;
            height: 0.3rem;
            width: 2.5rem;
            border-radius: 0.3rem;
        }

        // center white bars in the background
        .icon__hamburger--bars{
            @include centerAbs(45%,50%);
        }
        
        // separates the white bars
        .icon__hamburger--bars:after{
            transform: translateY(3px);
        }

        .icon__hamburger--bars:before{
            transform: translateY(-6px);
        }
    }

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// navigation
    %toggleOff{
    }
    
    // ul swicht of for mobile view
    .header__nav{
        display: block;
        height: 100vh;
        position: absolute;
        left: -100%;
        opacity: 0;
        


        @include setQeury($lg){
            opacity: 1;
            width: 90vw;
            transition: width 2s;
            @include centerAbs(11rem,50%);
            display: block;
            background: $navigation-background-desktop;
            height: 16rem;
            border: 3px solid $black-container-border;
            box-shadow: 1px 1.5px 6px #000;
            z-index: 0;
        }

        @include setQeury($max){
            width: 70vw;
        }


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// CSS shape: CROSS

        .header__icon--cross{
            position: absolute;
            width: 7rem;
            height: 6rem;
        }

        .icon__cross--bars{
            background: $navigation-color;
            height: 3rem;
            position: relative;
            width: .6rem;
            transform: rotate(45deg);
            margin: 1rem 0 0 2rem;
            cursor: pointer;

            // turns of the cross icon on desktop view
            @include setQeury($lg){
                display: none;
            }
        }

        .icon__cross--bars:after{
            background: $navigation-color;
            content: "";
            height: .6rem;
            left: -1.2rem;
            position: absolute;
            top: 1.2rem;
            width: 3rem;
        }
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// unorderd list

        .header__ul{
            height: 100%;
            display: grid;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            align-items: center;
            
            //changes to desktop view
            @include setQeury($lg){
                grid-template-rows: 1fr 1fr;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                flex-direction: row;
            }

            .header__li{
                @include setQeury($lg){
                    grid-row: 2/3;
                }

                .header__anker{
                    opacity: .7;
                    color: $navigation-color;
                    font-size: $navigation-mobile-size;
                    cursor: pointer;
    
                    @include setQeury($lg){
                        color: $standard-color;
                        font-size: $navigation-desktop-size;
                    }
                }
            
            
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// hover animation for navigation links

            .header__anker:hover{
                opacity: 1; 
                transition: opacity 500ms;

                @include setQeury($lg){
                    color: $glr-green;
                    transition: all 500ms;
                    font-size: 3rem;
                }
            }

            .header__anker:not(:hover){
                @include setQeury($lg){
                    transition: 500ms;
                }
            }

            .header__anker:after{
                opacity: .7;
                content: '';
                display: block;
                background: $navigation-color;
                height: 3px;
                margin: .5rem auto;
                width: 60%;
                
                :hover{
                    opacity: 1;
                    transition: opacity 500ms;
                }

                @include setQeury($lg){
                    background: $standard-color;
                    width: calc(10rem + 4vw);
                    }
                }
            }
        }
    }

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// current user

    //login/logout button
    .header__user{
        width: 20rem;
        height: auto;
        border: 2px solid $border-color;
        padding:  1.2rem 0;
        cursor: pointer;
        font-size: 2.8rem;
        @include centerAbs(80%,50%);
        text-shadow: 1px 1.4px 6px #111;

        &:hover{
            background: #111;
        }
        
        @include setQeury($lg){
            transform: translateX(0);
            left: unset;
            right: 2.5rem;
            top: 1rem;
        }

        .header__user__login{
            color: $glr-green;

            &:hover{
                color: #f1f1f1;
            }
        }
    }


    //name of the person who is logined in
    .header__login__name{
        font-size: 3rem;
        position: absolute;
        color: $glr-green;
        left: 50%;
        transform: translateX(-50%);
        bottom: 15rem;

        @include setQeury($lg){
            top: 3.5rem;
            left: 12rem;
        }
    }

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//Page TITLE

    .header__title{
        font-family: $title-font;
        color: $glr-green;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        text-shadow: 1px 1.5px 6px #000;
    }

    // standard lengths(top,left)
    .header__title__h1{
        font-size: $title-size;
        @include centerAbs(10%,50%);

        @include setQeury($xlg){
            font-weight: bold;
        }
        
        @include setQeury($max){
            font-size: $title-size-4k;
        }

    }

    // Left title (inschrijving)
    .title--1{   
        top: 8%;
        @include setQeury($lg){
        @include centerAbs(8.5rem, 25%);
        }

        @include setQeury($max){
            @include centerAbs(7rem, 30%);
        }
    }

    // right title (ouderavond) 
    .title--2{
        top: 51%;

        @include setQeury($lg){
            @include centerAbs(8.5rem, 75%);
        }

        @include setQeury($max){
            @include centerAbs(7rem, 70%);
        }
    }

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// logo header

    // school figure
    .header__logo{
            @include centerAbs(9rem,50%);

            @include setQeury($lg){
                top: 2rem;

                :hover{
                    transform: rotate(360deg);
                    transition: 1200ms;
            }

        }

        .header__logo--img{
            width: 20rem;
            border: 4px solid $glr-green;
            box-shadow: 1px 1.5px 6px #000;
            
            @include setQeury($lg){
                border-radius: 100%;
                width: 17em;
                height: 17rem;
            }
        }
    }

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
}